html{
  background-color: rgb(216, 160, 211);
}

body{
  background-color: white;
    width: 75%;
    margin: auto;
    border: 1px solid black;
    box-shadow: -10px 10px 10px blue;
}

header>.title>video{
    float: right;
}
header>.title>a>h1{
    float: left;
    font-family: Righteous,sans-serif;
    color: teal;
    text-shadow: 2px 2px #af14af;
    font-size: 300%;
}

header{
    overflow: hidden;
    padding: 1em;
    border-bottom: 1px solid black;
    background-color: rosybrown;
}

/*============= side menu ==============*/


aside {
	float: left; 
	width: 25%;
  height: 25em;
	padding: 20px 0;
  border-right: dotted 2px #38A9CC;
  overflow: hidden;
}

aside h1{
  text-align: center;
  font-family: ViaodaLibre, sans-serif;
  color: #38A9CC;
  font-style: italic;
}

aside ul {   
  list-style: none;
}

aside li {     
  margin-bottom: .5em; 
	margin-right: 2em;
  border: outset orange 7px;
  background-image: linear-gradient(45deg, purple 0%, rgb(32, 211, 187)100%);
}
	       
aside li a {
  display: block;
  padding: .5em .5em .5em .5em;
  text-decoration: none;
  font-weight: bold;
  font-size: 85%;
  color: white;
}

aside li a:link, aside li a:visited{
  background-image: linear-gradient(45deg, purple 0%, rgb(32, 211, 187)100%);
}
aside li a:hover, aside li a:focus{
  background-image: linear-gradient(45deg,  rgb(32, 211, 187) 0%, purple 100%);
}


/*==========================================*/

/*================ drop down in nav bar===============*/

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-decoration: underline;
  color: inherit;
}

.dropdown{
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: black;
}
  
/*============================================*/
/* ============ nav bar ==============*/
nav{
  background-image: linear-gradient(45deg, rgb(132, 32, 199) 0%, rgb(187, 19, 61) 25%, rgb(32, 211, 187) 100%);
  overflow: hidden;
}
nav>ul{
  list-style: none;
  display: flex;
}
nav>ul>li{
  width: 20%;
  margin-bottom: .5em; 
  margin-right: 2em;
  border: 2px solid black;
}

nav>ul>li>a{
  display: block;
  padding: .5em 0 .5em .5em;
  text-align: center;
  margin-top: 0.5em;
}

nav>ul>li>a:link, nav>ul>li>a:visited,.dropdown .dropbtn{
  font-weight: bold;
  font-size: 85%;
  color: black;
}

nav>ul>li:hover, nav>ul>li:focus,
nav>ul>li>a:focus,
.dropdown .dropbtn:hover, .dropdown .dropbtn:focus,
.dropdown .dropdown-content a:hover
{
  background-image: linear-gradient(45deg, purple 0%, rgb(32, 211, 187)100%);
  color: white;
  cursor: pointer;
}
.dropdown .dropdown-content a:active{
  color: #af14af;
  background-image: linear-gradient(45deg, purple 0%, rgb(32, 211, 187)100%);
}

.dropdown:hover{
  color: white;
}


nav>ul>li:hover a{
  color: inherit;
}

nav>ul>li>a:active{
  background-color: black;
  color: #af14af;
}

.current{
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  video {
    width: 200px;
  }

  ul{
    flex-direction: column;
  }
}

/*=================================*/

/* ======= Main section ======= */
.content{
  overflow: hidden;
  padding: 5% 0%;
}

table{
  border-collapse: collapse;
  border: solid 1px black;
  margin: auto;
  text-align: center;
}

td,th{
  border: solid black 1px;
  padding: 1em;
}

table:hover{
  cursor:all-scroll;
}

table>thead{
  background-image: linear-gradient(45deg, rgb(149, 47, 149) 0%, rgb(32, 211, 187)100%);
}
table>thead:hover{
  background-image: linear-gradient(45deg, rgb(32, 211, 187)0%, rgb(149, 47, 149) 100%);
}

table>tbody>tr:nth-child(even){
  background-color: rgb(149, 47, 149);
}
table>tbody>tr:nth-child(even):hover{
  background-color: rgb(221, 19, 221);
}

table>tbody>tr:nth-child(odd){
  background-color: rgb(39, 172, 154);
}

table>tbody>tr:nth-child(odd):hover{
  background-color: rgb(1, 250, 217);
}

table>tfoot{
  font-weight: bold;
  background-image: linear-gradient(45deg, rgb(67, 0, 250)0%, rgb(204, 22, 204) 75%,  rgb(75, 235, 1) 100%);
}

table>tfoot:hover{
  background-image: linear-gradient(45deg, rgb(75, 235, 1)0%, rgb(67, 0, 250) 75%,   rgb(204, 22, 204)100%);
}
/*==============================*/
footer{
    border-top: 1px solid black;
    text-align: center;
}

footer, body, .principal{
  clear: both;
}