<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gift, noel, birthday, St-Valentin">
    <meta name="author" content="Marc-Antoine Ricard">
    <meta name="description" content="Free Web tutorials for HTML and CSS">
    <link href="https://fonts.googleapis.com/css2?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b7bd9f418.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/gift_logo.jpg">
    <link rel="stylesheet" href="../style/suggestionAnniversaire.css">
    <title>Suggestion d'anniversaire</title>
</head>
<body>
    <header>
        <section class="title">
            <a href="../index.html">
              <h1>Emssy's Gift</h1>
            </a>
            <video width="350" height="200em" src="../video/gift.mp4" autoplay muted loop/>    
        </section>
    </header>
     <nav>
      <ul id="menu">
        <li><a href="../index.html" >Accueil</a></li>
        <li><a href="participerConcours.html">Participer au concours</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Suggestions 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="suggestionNoel.html">Noël</a>
              <a href="suggestionStValentin.html">St-Valentin</a>
              <a href="#">Anniversaire</a>
            </div>
          </div> 
        </li>
        <li><a href="statistiques.html" >Statistiques</a></li>
        <li><a href="APropos.html">À propos</a></li>
      </ul>
    </nav>
    <section class="principal">
        <aside>
            <h1>Nos meilleurs recommandations</h1>
            <ul>
              <li><a href="suggestionAnniversaire.html#pokemon">Des cartes pokemon</a></li>
              <li><a href="suggestionNoel.html#toutouPelush">Un toutou en pelush</a></li>
              <li><a href="suggestionStValentin.html#chocolat">Des chocolats</a></li>
            </ul>
          </aside>
          <div class="content">
              <h1>Suggestion d'anniversaire</h1>
              <div class="suggestion">
                  <h2>Verre à Whisky Personnalisable - Prénom et Message</h2>
                  <p class="description">Si votre cible aime beaucoup le whisky, un verre Personnalisable pourrait être un bon choix !</p>
                  <a target="_blank" href="https://www.cadeaux.com/v2/boutique/cadeau-verre-a-whisky-homme-r3512000.html">
                    <img src="../img/verre-a-whisky-personnalise.jpg" alt="Verre a whiskey Personnalisable">  
                  </a>
              </div>
              <div class="suggestion">
                <h2>Manette de jeu en chocolat personnalisable</h2>
                <p class="description">UNe bonne recommandation de cadeau pour les gamers est une manette de chocolat !</p>
                <a target="_blank" href="https://www.cadeaux.com/v2/boutique/cadeau-manette-jeu-en-chocolat-r6062000.html">
                  <img src="../img/manette-jeu-chocolat-noel.jpg" alt="Passion BBQ">  
                </a>
            </div>
            <div id="pokemon" class="suggestion">
                <h2>Des cartes de pokemon</h2>
                <p class="description">Pour les enfants d'un plus jeune âge, les cartes de pokemon ne les décevront jamais ! Surtout Charizaaaaaaaaaaaaaaaaaaaaard </p>
                <a target="_blank" href="https://imaginaire.com/fr/jeux-casse-tetes-et-puzzles/pokemon-booster-pack-anglais-limite-1-boite-36-paquets-par-client-chilling-reign.html">
                  <img src="../img/Charizard_Cards.jpg" alt="Pack pokemon">  
                </a>
                <a href="pokemon.html">
                  <input type="button" name="pokemon" id="pokemon" value="Voir les cartes de pokemon">
                </a>
            </div>
          </div>
    </section>
    <footer>
      <p>&copy; 2021 Emssy's Gift. Tous droits réservés. <br>Réalisé par Marc-Antoine Ricard</p>
    </footer>
</body>
</html>