<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gift, noel, birthday, St-Valentin">
    <meta name="author" content="Marc-Antoine Ricard">
    <meta name="description" content="Free Web tutorials for HTML and CSS">
    <link href="https://fonts.googleapis.com/css2?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b7bd9f418.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/gift_logo.jpg">
    <link rel="stylesheet" href="../style/APropos.css">
    <title>À propos</title>
</head>
<body>
    <header>
        <section class="title">
            <a href="../index.html">
              <h1>Emssy's Gift</h1>
            </a>
            <video width="350" height="200em" src="../video/gift.mp4" autoplay muted loop/>    
        </section>
    </header>
     <nav>
      <ul id="menu">
        <li><a href="../index.html" >Accueil</a></li>
        <li><a href="participerConcours.html">Participer au concours</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Suggestions 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="suggestionNoel.html">Noël</a>
              <a href="suggestionStValentin.html">St-Valentin</a>
              <a href="suggestionAnniversaire.html">Anniversaire</a>
            </div>
          </div>
        </li>
        <li><a href="statistiques.html" >Statistiques</a></li>
        <li><a href="#" class="current">À propos</a></li>
      </ul>
    </nav>
    <section class="principal">
        <aside>
            <h1>Nos meilleurs recommandations</h1>
            <ul>
              <li><a href="suggestionAnniversaire.html#pokemon">Des cartes pokemon</a></li>
              <li><a href="suggestionNoel.html#toutouPelush">Un toutou en pelush</a></li>
              <li><a href="suggestionStValentin.html#chocolat">Des chocolats</a></li>
            </ul>
          </aside>
          <div class="content">
              <h1>À Propos</h1>
              <p>
                  Ce site à été développé dans le but d'aider les gens en manque d'inspiration à trouver des cadeaux. Il nous fait plaisir de vous proposer
                  les meilleurs idées de cadeaux à offrir à vos proches. Si vous avez d'autre suggestion pour ce site, veuillez nous envoyer toutes les 
                  informations via mon <a href="mailto: marcantoinericard@gmail.com">courriel</a>
              </p>
              <h2>Objectif de ce site; </h2>
              <ol>
                  <li>Éviter de vous faire juger car vous n'avez pas réussi à trouver de cadeaux</li>
                  <li>Trouver les idées les plus originales</li>
                  <li>Obtenir de plus en plus d'idées de la communauté afin d'avoir le plus grand repertoire d'idées de cadeaux au monde !</li>
              </ol>
              <h2>Concours</h2>
              <p>Pour ceux voulant courir la chance de gagner un item parmis les suggestions sur le site, vous devez obligatoirement faire partie d'une des régions du Québec; </p>
              <div>
                <!-- width="389px" height="273px" -->
                <img src="../img/quebec.jpg" alt="Carte du Québec"  usemap="#quebec">
                <map name="quebec">
                  <area target="_blank" alt="Côte-Nord" title="Côte-Nord" href="https://tourismecote-nord.com/decouvrez-notre-region/carte-et-acces/carte-et-directions/" coords="66,71,97,72,136,74,139,95,128,111,116,126,102,118,91,113,84,120,70,132" shape="poly">
                  <area target="_blank" alt="Nord du Québec" title="Nord du Québec" href="https://fr.wikipedia.org/wiki/Nord-du-Qu%C3%A9bec" coords="30,2,51,7,28,43,83,54,88,40,28,43,27,22,30,62,13,77,10,121,36,125,53,107,64,93,63,70,101,68,95,41,86,25,30,14,26,34,86,49,28,43,78,51" shape="poly">
                </map>
              </div>
          </div>
    </section>
    <footer>
      <p>&copy; 2021 Emssy's Gift. Tous droits réservés. <br>Réalisé par Marc-Antoine Ricard</p>
    </footer>
    <script src="js/review.js"></script>
</body>
</html>