<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="cadeau, noel">
    <meta name="author" content="Marc-Antoine Ricard">
    <meta name="description" content="suggestion de cadeau de noel">
    <link href="https://fonts.googleapis.com/css2?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b7bd9f418.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/gift_logo.jpg">
    <link rel="stylesheet" href="../style/suggestionNoel.css">
    
    <title>Suggestion de Noël</title>
</head>
<body>
    <header>
        <section class="title">
            <a href="../index.html">
              <h1>Emssy's Gift</h1>
            </a>
            <video width="350" height="200em" src="../video/gift.mp4" autoplay muted loop/>    
        </section>
    </header>
     <nav>
      <ul id="menu">
        <li><a href="../index.html" >Accueil</a></li>
        <li><a href="participerConcours.html">Participer au concours</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Suggestions 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Noël</a>
              <a href="suggestionStValentin.html">St-Valentin</a>
              <a href="suggestionAnniversaire.html">Anniversaire</a>
            </div>
          </div> 
        </li>
        <li><a href="statistiques.html" >Statistiques</a></li>
        <li><a href="APropos.html">À propos</a></li>
      </ul>
    </nav>
    <section class="principal">
        <aside>
            <h1>Nos meilleurs recommandations</h1>
            <ul>
              <li><a href="suggestionAnniversaire.html#pokemon">Des cartes pokemon</a></li>
              <li><a href="suggestionNoel.html#toutouPelush">Un toutou en pelush</a></li>
              <li><a href="suggestionStValentin.html#chocolat">Des chocolats</a></li>
              <li><a href="proposition.html">Envoyer nous vos propositions de cadeaux !</a></li>
            </ul>
          </aside>
          <div  class="content">
            <audio controls autoplay loop>
              <source src="../audio/noelMusique.mp3" type="audio/mp3">
              Your browser does not support the audio element.
            </audio>
              <h1>Suggestion de Noël</h1>
              <div id="toutouPelush" class="suggestion">
                  <h2>Un toutou en pelush</h2>
                  <p class="description">Je vous présente un magnifique toutou en pelush ! Rien de mieux pour lui donner un calin.</p>
                  <a target="_blank" href=https://www.billielekid.com/fc/jellycat-amuseable-cauliflower.html?source=googlebase&gclid=CjwKCAjw_JuGBhBkEiwA1xmbRbeNp-roXLd3lU-YIst1s10iKpOwyj5zONwvMA6HD1YwNLPYkMN2UBoCcPQQAvD_BwE">
                    <img src="../img/toutouPelush.jpg" alt="toutou en pelush">  
                  </a>
              </div>
              <div class="suggestion">
                <h2>PASSION BBQ</h2>
                <p class="description">Rien de tel que de bonnes sauces BBQ afin de satisfaire toute personne fan de ça!</p>
                <a target="_blank" href="https://www.ideecadeauquebec.com/passion-bbq/">
                  <img src="../img/PassionBBQ.jpg" alt="Passion BBQ">  
                </a>
            </div>
            <div class="suggestion">
                <h2>MONTRE SOLAIRE SOLAR NOIR | MAILLE NOIRE</h2>
                <p class="description">Si vous avez un proche qui a souvant une difficulté avec le temps! Rien de tel qu'une bonne montre de qualité ! </p>
                <a target="_blank" href="https://www.ideecadeauquebec.com/montre-solaire-solar-noir-maille-noir/">
                  <img src="../img/MontreSolaireSolarNoir.jpg" alt="Montre Solar noir">  
                </a>
            </div>
          </div>
    </section>
    <footer>
      <p>&copy; 2021 Emssy's Gift. Tous droits réservés. <br>Réalisé par Marc-Antoine Ricard</p>
    </footer>
    <script src="js/review.js"></script>
</body>
</html>