<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gift, noel, birthday, St-Valentin">
    <meta name="author" content="Marc-Antoine Ricard">
    <meta name="description" content="Free Web tutorials for HTML and CSS">
    <link href="https://fonts.googleapis.com/css2?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b7bd9f418.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/gift_logo.jpg">
    <link rel="stylesheet" href="../style/suggestionStValentin.css">
    <title>Suggestion de Saint-Valentin</title>
</head>
<body>
    <header>
        <section class="title">
            <a href="../index.html">
              <h1>Emssy's Gift</h1>
            </a>
            <video width="350" height="200em" src="../video/gift.mp4" autoplay muted loop/>    
        </section>
    </header>
     <nav>
      <ul id="menu">
        <li><a href="../index.html" >Accueil</a></li>
        <li><a href="participerConcours.html">Participer au concours</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Suggestions 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="suggestionNoel.html">Noël</a>
              <a href="#">St-Valentin</a>
              <a href="suggestionAnniversaire.html">Anniversaire</a>
            </div>
          </div>
        </li>
        <li><a href="statistiques.html" >Statistiques</a></li>
        <li><a href="APropos.html">À propos</a></li>
      </ul>
    </nav>
    <section class="principal">
        <aside>
            <h1>Nos meilleurs recommandations</h1>
            <ul>
              <li><a href="suggestionAnniversaire.html#pokemon">Des cartes pokemon</a></li>
              <li><a href="suggestionNoel.html#toutouPelush">Un toutou en pelush</a></li>
              <li><a href="suggestionStValentin.html#chocolat">Des chocolats</a></li>
            </ul>
          </aside>
          <div class="content">
              <h1>Suggestion de St-Valentin</h1>
              <div id="chocolat" class="suggestion">
                  <h2>Boîte-cadeau printanière de chocolats assortis</h2>
                  <p class="description">UNe boite de chocolat est un classique pour un cadeau de St-Valentin !</p>
                  <a target="_blank" href=https://www.godiva.ca/fr_CA/assorted-chocolate-spring-box-32pc/14475.html?gcid=PS%7CSC%7CNA%7CECO%7CGOO%7CSPN%7CSEM%7CEVERGREENFR%7Cnonbrand%7CPLA%7CCA%7CNA&gclid=CjwKCAjw_JuGBhBkEiwA1xmbRZxBPFoF_jFin4O1Y0FrUxChf637S9kj6N-ag-UVhVq0XL8RqF70ZxoCfuIQAvD_BwE&sc_intid=14475&scid=scplp14475&utm_medium=cpc&utm_source=google">
                    <img src="../img/BoiteChocolat.jpg" alt="Boite de chocolat">  
                  </a>
              </div>
              <div class="suggestion">
                <h2>COLLIER ÉCORESPONSABLE « PETIT CŒUR-À-L’ENVERS »</h2>
                <p class="description">Un des cadeaux les plus romantiques sont les bijoux. Ils sont très adorés par les femmes. </p>
                <a target="_blank" href="https://www.ideecadeauquebec.com/collier-ecoresponsable-petit-coeur-a-l-envers/">
                  <img src="../img/collier-coeur-a-l-envers-idee-cadeau-quebec.jpg" alt="Collier coeur a l'envers">  
                </a>
            </div>
            <div class="suggestion">
                <h2>BOÎTE COCOONING SURPRISE QUÉBÉCOISE</h2>
                <p class="description">Une boite de concooning est une idée très originale et romantique. Qui n'aime pas les cocooning ? </p>
                <a target="_blank" href="https://www.ideecadeauquebec.com/boite-cocooning-surprise-quebecoise/">
                  <img src="../img/boite-cocooning-a-surprises.jpg" alt="Boite cocooning a surprise">  
                </a>
            </div>
          </div>
    </section>
    <footer>
      <p>&copy; 2021 Emssy's Gift. Tous droits réservés. <br>Réalisé par Marc-Antoine Ricard</p>
    </footer>
    <script src="js/review.js"></script>
</body>
</html>